/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

/* regole header */
header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}

button{
    background-color: rgb(74,74,74);
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
}

button:hover{
    cursor: pointer;
}

button.speaker-view{
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.buttons{
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
}

/* regole corpo centrale */

main{
    background-color: black;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.users{
    width: 192px;
    position: relative;
    margin-bottom: 12px;
}

.users img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name{
    position: absolute;
    background-color: rgb(74,74,74,0.6);
    font-weight: normal;
    color: white;
    font-size: 12px;
    padding: 3px;
    bottom: 0;
}

/* regole footer */
footer{
    background-color: rgb(34,34,34);
    height: 60px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}

.container-footer{
    display: flex;
    justify-content: space-around;
}

.central-icons{
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: space-between;
    padding-top: 10px;
}

.central-icons span{
    font-size: 10px;
}

.central-icons:hover{
    cursor: pointer;
}

.sx-icons{
    display: flex;
    padding-top: 10px;
    gap: 10px;
    margin-left: 10px;
}

.sx-icons span{
    font-size: 10px;
}









































/* DEBUG */
/* .container{
    color: white;
    background-color: blueviolet;
}

.users{
    border: 1px solid white;
} */