/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

/* regole header */
header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}

button{
    background-color: rgb(74,74,74);
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
}

button.speaker-view{
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.buttons{
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
}